body {
  font-family: "Inter", sans-serif;
  margin: 0;
  font-size: 32px;
  font-weight: 300;
  color: hsl(240, 38%, 20%);
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

.grey-text {
  color: hsl(240, 18%, 77%);
  font-weight: 500;
}

.container {
    padding: 10rem;
    display: flex;
  }

.left {
  padding: 10rem 0 0;
  margin-right: -60px;
  z-index: 2;
  line-height: 1.3;
}

.picture {
  border-radius: 8px;
}

.btn {
  position: absolute;
  background-color: #fff;
  border: none;
  height: 60px;
  width: 60px;
  cursor: pointer;
  margin-top: -12rem;
}

.prev {
  margin-left: 65rem;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: -0.3rem 0.4rem 1rem 0 hsl(240, 18%, 77%);
}

.next {
  margin-left: 68.5rem;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0.3rem 0.4rem 1rem 0 hsl(240, 18%, 77%);
}

.picture {
  box-shadow: 0.2rem 0.6rem 1rem 0 hsl(240, 18%, 77%);
}

/* Container Main */

.img {
  position: absolute;
  z-index: -1;
}

.quotes {
  margin-top: 15rem;
  margin-left: 15rem;
}

.curve {
  bottom: 0;
}

.bg {
  margin-top: 5rem;
  right: 20rem;
}

/* Container Tanya */

/* Container John */

.john {
  display: none;
}

footer {
  font-size: 11px;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}
footer a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 550px) {
    body {text-align: center;}

  main {
    text-align: center;
  }

  .container {
    padding: 2.2rem;
    flex-direction: column;
  }

  .left {
    padding: 0;
    margin-right: 0;
    margin-top: 7rem;
    font-size: 18px;
    order: 1;
  }

  .right {
    margin-top: 1rem;
    order: 0;
  }

  .picture {
    width: 14rem;
    box-shadow: none;
  }

  .grey-text {
    display: block;
  }

  .btn {
    height: 30px;
    width: 30px;
    margin-top: -25rem;
  }

  .prev {
    margin-left: -2.4rem;
  }

  .next {
    margin-left: -0.52rem;
  }

  .quotes {
    margin: 23rem -2rem;
    width: 4rem;
  }

  .curve {
    left: 0;
    width: 280px;
  }

  .bg {
    margin: 2rem;
    width: 20rem;
    right: 0;
  }
}
